{% extends "base.html" %}

{% block content %}
  <div class="container">
    <form method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label>Imput grayscale image</label>
        <input type=file class="form-control" name=file id="fileName" accept=".jpg, .png, .jpeg" onchange="validateFileType(this)" />
        <div class="invalid-feedback">
          Please select image format .jpg or .png
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
        <img id="showImg" src="#" alt="" />
      </div>
      <button class="btn btn-outline-primary" type="submit" value="Upload">Colorize!</button>
    </form>
  </div>
{% endblock %}
